<!DOCTYPE html>
<html ng-app='dm8'>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
  </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <link href="css/style.css" rel="stylesheet" />

<body ng-controller="mainCtrl">
    <p></p>

    <input ng-model="picardsWords"></input>
       <br/>
      {{ saySomethingPicard }}

      <p>
        Picard Says : {{ picardsWords }}
      </p>

      <hr/>
      <h4>Ng-Repeat</h4>


    Name Filter: <input ng-model="crewFilter.name"></filter>
    Rank Filter: <input ng-model="crewFilter.rank"></filter>

    <div class="crew-member" ng-repeat="member in crew | filter: crewFilter">
      {{member.name}} >>> <span>({{member.rank}})</span>
    </div>

      <hr/>
      <h4>Ng-Show, ng-hide, ng-if, ng-click</h4>

        <div ng-show="isAwesome">You are awesome!</div>

        <p ng-hide="isAwesome">We're sorry, you are not awesome!</p>

        <p ng-if="isAwesome">If if if if if if if</p>

        <button ng-click="btnClicked()">Click Me</button>


    <script src="js/app.js"></script>

    <script src="js/mainCtrl.js"></script>

</body>
</html>
